@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
/* font-family: "Playwrite GB S", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Roboto", sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

.container {
    height: 100vh;
    width: 100%;
}

 nav {
    width: 100%;
    height: 65px;
    background-color: #000;
    display: flex;
    align-items: center;
    padding: 0px 3%;
    color: #fff;
justify-content: space-between;
/* box-shadow: 1px 1px 10px #fff; */
border-bottom: 1px solid #fff;
z-index: 999;
/* position: fixed;

top:0; */
}
/* .nav-active{
 position: fixed;
 top:0;
 width:100%;
} */
nav .logo {
    font-family: "Playwrite GB S", system-ui;
    display: flex;
    position: relative;
}

 nav .logo h1 {
    font-size: 30px;
}

 nav .logo p {
    position: absolute;
    bottom: 0;
    right: -60px;
    font-size: 13px;
    color: rgb(228, 85, 85);
}

 nav .links ul {
    display: flex;
    gap: 30px;
    font-family: "Roboto", sans-serif;
}

.links li {
    list-style: none;
}

 .links li a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    transition: 0.5s;
}

 .links li a:hover {
    color: brown;
}

.home-content {
    width: 100%;
    height: 80vh;
    padding: 4% 6%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.home-left {
    padding: 4%;
}

span {
    color: brown;
}

.home-left h1 {
    font-family: "Playwrite GB S", system-ui;
    width: 500px;
    font-size: 45px;
    margin-bottom: 16px;

}

.home-left p {
    font-family: 'Roboto';
    width: 450px;
    font-weight: 400;
    color: rgb(39, 39, 39);
}

.home-btns {
    display: flex;
    padding: 3% 0px;
    align-items: center;
    gap:40px;
}

.home-btns .new {
    padding: 10px 40px;
    cursor: pointer;
    border: 3px solid brown;
    border-radius: 30px;
    outline: 0;
    color: #fff;
    background-color: #000;
    transition: 0.5s;
}
.home-btns .new:hover{
    color:#000;
    background-color: #fff;
}
.home-btns a{
    color:#000;
    font-family: "Roboto";
    margin-top: 10px;

}
.home-right img{
    height:400px;
    width:400px;
    object-fit: cover;
}
.about{
    width:100%;;
    background-color: #000;
    padding:3% 0px;
    padding-right: 14%;
    display: flex;
    justify-content: space-between;
    border-bottom: .1px solid #fff;
    flex-wrap: wrap;
    align-items: center;
    gap:30px;
}
.about .about-left img{
    height:400px;
    width:500px;
    object-fit: cover;
    border-radius: 4px;
}
.about-right{
    display:flex;
    flex-direction: column;
    color:#fff;
}
.about-right p{
    font-family: "Roboto";
    width:500px;
    line-height: 23px;
}
.about-right h1{
    font-family:"Playwrite GB S", system-ui ;
    margin-bottom: 10px;
    color:brown;
}
.links{
    padding:3%;
    display:flex;
    gap:20px;
    float: right;
    margin-top: 10px;
    
}
.links i{
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
}
.links i:hover{
    color:brown;
}
.products{
    width:100%;
    padding:2%;
    background-color: #000;
} 
.p-heading{
    color:#fff;
    font-family: "Playwrite GB S";
}
.products-boxes{
    display:flex;
    align-items: center;
    gap:30px;
    padding: 4%;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
}
.products-boxes .box-1{
    height:300px;
    width:220px;
    background-color: #fff;
    border-radius: 5px;
    padding:10px;
}
.products-boxes .box-1 img{
    height:140px;
    width:100%;
    object-fit: cover;
    border-radius: 5px;
}
.products-boxes .box-1 {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.products-boxes .box-1 .aboutWatch{
    font-family: "Roboto";
    text-align: center;
    font-weight: 799;
    font-size: 15px;
}
.products-boxes .box-1 strike{
    color: grey;
}
.price{
    display:flex;
    gap:5px;
    font-family: "Roboto";
    align-items: center;
    justify-content: center;
}
.add{
    color:#fff;
    background-color: #000;
    width:100%;
    height:40px;
    cursor: pointer;
    outline:0;
    border:0;
    border-radius: 4px;
    transition: 0.5s;
}
.add:hover{
    background-color: #353434;
}
.cart i{
    color:#fff;
    font-size: 26px;
}
.coming{
    width:100%;
    padding:3% 6%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.c-left {
    font-family: "Playwrite GB S";
}
.c-left h1{
    font-size: 50px;
}
.c-left p{
    font-family: "Roboto";
    margin-top: 5px;
    color:brown;
}
.c-right{
    padding-right: 9%;
    margin:0px auto;
    padding: 10px 0px;;
}
.animation-watches{
    height:300px;
    width:300px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}
.animation-watches img{
    height:150px;
    width:150px;
    object-fit: cover;
}
footer{
    width:100%;
    background-color: #000;
    display:flex;
    font-family: "Roboto";
    color:#fff;
    padding:5% 4%;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
  
}
footer ul li{
    list-style: none;
    margin: 10px 0px;
    font-size:13px;
    color:rgb(143, 142, 142);
    cursor: pointer;
    text-decoration: underline;
    
}
.f-left{
    display:flex;
    gap:50px;
}
.f-center{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.f-center .logo{
    font-family: "Playwrite GB S", system-ui ;
    display:flex;
}
.f-center p{
    color:brown;
}
.f-intro p{
    color:#fff;
    text-align: center;
    width:300px;
}
.f-end{
    display:flex;
    flex-direction: column;
    gap:5px;
}
.f-end input{
    outline:0;
    border:0;
    padding:10px 4px;
    border-radius: 3px;
}
.sent{
    padding:9px 10px;
    cursor: pointer;
    outline:0;
    border:0;
    border-radius: 3px;

}
.privacy{
    position: absolute;
    right:40px;
    bottom: 20px;
}
.privacy a{
    color:#fff;
    text-decoration: none;
}
#line{
    position: relative;
}
#line::after{
    content:"";
    position: absolute;
    right:-3px;
    height:100%;
    width:.4px;
    background-color: #fff;

}
.copy{
    position: absolute;
    left:30px;
    bottom:10px;
}
.copy p{
    font-size: 14px;
}
.arrivals-home{
    /* height:100vh; */
    width:100%;
}
.arrival-head{
    height:40vh;
    width:100%;
    background-color: #000;
    display:flex;
    align-items: center;
    justify-content: center;
}
.arrival-head h1{
    font-size: 50px;
    color:#fff;
    font-family: "Playwrite GB S", system-ui;
}
.a-heading{
    font-family: "Playwrite GB S";
    padding:2%;
    font-size: 20px;;
}
.a--boxes{
    display:flex;
    padding:2% 5%;
    flex-wrap: wrap;
    gap:30px;
    align-items: center;
    justify-content: center;

}
.a--box-1{
    width:400px;
    height:300px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgb(58, 58, 56);
}
.a--box-1 img{
    width:100%;
    height:60%;
    object-fit: cover;
}
.a--box-1 h2{
    font-weight: 400;
}
.a-box-content{
    padding:2%;
    font-family: "roboto";
    display:flex;
    flex-direction: column;
    gap:5px;

}
.a-box-content p{
    font-size: 14px;
    font-weight: 999;
}
.stars{
    display:flex;
    gap:5px;
}
.stars i{
    color:orange;
}
.add-a{
    height:30px;
    width:100%;
    background-color: #000;
    color:#fff;
    cursor: pointer;
    outline:0;
    border: 0;
    font-weight: 799;
    transition: 0.5s;
}
.add-a:hover{
    letter-spacing: 1px;
}
.more-products{
    padding:3%;
    background-color: #000;
    border-bottom: 1px solid #fff;
}
.m-heading{
    color:#fff;
    font-family: "Playwrite GB S";
}
.images{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:3%;
    border-radius: 5px;
    overflow: hidden;
    flex-wrap: wrap;
    gap:10px;
}
.images img{
    height:300px;
    width:230px;
    object-fit: cover;
    transition: 0.5s;
}

.contact{
    width:100%;

}
.contact-head{
    height:30vh;
}
.contact-container{
    width:60%;
    height:400px;
    /* border:1px solid red; */
    margin:30px auto;
    overflow: hidden;
    border-radius: 6px;
    display:flex;
    /* flex-wrap: wrap; */
}
.contact-left{
    width:50%;
    height:100%;
    background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)) , url("https://cdn.pixabay.com/photo/2014/07/31/23/00/wristwatch-407096_640.jpg");
    background-size: cover;
    background-position: center;

}
.contact-container img{
    height:100%;
    width:100%;
}
.contact-right{
    display:flex;
    flex-direction: column;
    padding:2%;
    gap:10px;
    background-color: rgb(240, 219, 219);
    /* background-color: rgb(0, 0, 0); */
    flex:1;
}
.f-end p{
    color:brown;
    margin-top: 10px;;
}
.contact-right input{
        border:0;
        padding:14px 6px;
        border-radius: 4px;
        width:380px;
}
textarea{    padding:2%;
    border-radius: 4px;
}
.Sumbit{
    background-color: #000;
    color:#fff;
    font-weight: 700;
    border:0;
    outline:0;
    cursor: pointer;
    padding:10px;
    border-radius: 4px;
    transition: 0.5s;
}
.Sumbit:hover{
    letter-spacing: 1px;
}


/* reponsiveness */
.bars{
    cursor: pointer;
    display:none;
    z-index: 1000;
}
.bars span{
    display:block;
    height:3px;
    width:23px;
    background-color: #fff;
    margin-top: 3px;
    border-radius: 3px;
}

@media (max-width:638px) {
    .bars{
        display:block;
    }
    nav ul{
        position: absolute;
        top:-500px;
        width:100%;
        height:40vh;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:14px;
        transition: 0.5s;
        background-color: #000;
        left:0;

    }
    nav .ul-active{
    position: absolute;
    top:0;
    width:100%;
    height:40vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:14px;
    transition: 0.5s;
    background-color: #000;
    left:0;
    }
}
@media (max-width:1170px) {
    .about-right{
        display:flex;
        flex-direction: column;
        color:#fff;
        align-items: center;
        justify-content: center;
        margin:0px auto;
        text-align: center;

    }
   .about-left{
    margin:0px auto;
   }
}
@media (max-width:614px) {
    .privacy a{
        font-size: 11px;
    }
    .home-left{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .home-left h1{
        font-size: 20px;
        width:300px;
        text-align: center;
    }
}
@media (max-width:510px) {
    .about .about-left img{
        height:300px;
        width:300px;
    }
    .about-right p{
        width:320px;
        /* text-align: justify; */
        padding:0px 20px;
    }
}
@media (max-width:600px) {
    .copy{
        display:none;
    }
}

@media (max-width:970px) {
    .contact-left{
        display:none;
    }
    .contact-right input{
        width:100%;
    }
}
@media (max-width:470px) {
  .contact-container{
    margin:0px;
    width:100%;
  }
  .contact-right{
    width:400px;
  }
}